.main {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  padding: 0 2.5rem;
  .title {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 5rem;
    h2 {
      font-size: 2.5rem;
      margin: 0;
      z-index: 10;
      color: white;
      mix-blend-mode: difference;
      @include media("<=tablet") {
        font-size: 2.5rem;
      }
      @include media("<501px") {
        font-size: 2rem;
      }
      .logo {
        color: red;
        font-weight: 900;
        font-size: 3rem;
        @include media("<tablet") {
          font-size: 3rem;
          font-weight: 900;
        }
      }
    }
  }
  .spacer {
    min-width: 20vw;
  }
  .spacer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
    @include media("<=tablet") {
      flex-direction: column;
      height: 25vh;
      align-items: flex-end;
    }

    a {
      color: black;
      i {
        padding: 0 1.5rem;
      }
    }
  }
}
