.wraper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  @include media("<=phone") {
  }
  .logo {
    a {
      text-decoration: none;
      color: #00ffff;
      font-size: 3rem;
    }
  }
  .spacer {
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include media("<=tablet") {
      display: none;
    }
    a {
      list-style: none;
      padding: 0 1rem;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-weight: 600;
      color: black;
    }
  }
}
